.header {
    background-color: #262336;
    left: 45px;
    padding: 10px;
}

.header img {
    height: 70px;
    width: 70px;
}

.header h3 {
    /** TEXT GRADIENT */ color: #bcbac4; background-image: -webkit-linear-gradient(90deg, #bcbac4 50%, #dedee1 50%); background-clip: text; -webkit-background-clip: text; text-fill-color: transparent; -webkit-text-fill-color: transparent;
    margin: 0; 
}

.header p {
    color: #8e8a9b;
}

.headertext {
    position: relative;
    left: 18px;
}

.navbar {
    color: #8e8a9b;
    border-bottom: 1px solid;
}

.navbar li {
    display: inline;
    font-size: 17px;
    margin-right: 11px;
}

.topsection {
    background-color: #262336;
    padding-bottom: 15px;
}

.topsection h2 {
    /** TEXT GRADIENT */ color: #bcbac4; background-image: -webkit-linear-gradient(90deg, #bcbac4 50%, #dedee1 50%); background-clip: text; -webkit-background-clip: text; text-fill-color: transparent; -webkit-text-fill-color: transparent;
}

.topsection h1 {
    color: white;
}

.topsectiontext4 {
    color: #8e8a9b;
}

.topsectionbutton {
    padding-top: 5px;
}

.topsection button {
    background: rgb(151,145,178);
    background: linear-gradient(180deg, rgba(151,145,178,1) 0%, rgba(111,107,133,1) 35%);
    color: white;
    border-radius: 6px;
}

.topmiddlesection {
    background-color: #f29b66;
    padding-top: 10px;
    padding-bottom: 10px;
}

.topmiddlesection h4 {
    color: white;
}

.topmiddlesection h5 { 
    /** TEXT GRADIENT */ color: #dccbc7; background-image: -webkit-linear-gradient(90deg, #dccbc7 50%, #e7d1c6 50%, #e7d1c6 50%); background-clip: text; -webkit-background-clip: text; text-fill-color: transparent; -webkit-text-fill-color: transparent;     
}

.controlmultidomain {
    padding-bottom: 10px;
}

.controlmultidomain img {
    height: 50px;
    width: 50px;
}

.ftpdirect img {
    height: 50px;
    width: 50px;
}

.bottommiddlesection {
    padding-top: 15px;
    padding-right: 23px;
    padding-left: 7px;
    padding-bottom: 10px;
}

.bottommiddlesection button {
    position: relative;
    bottom: 29px;
}

.bottommiddlerow {
    margin-bottom: 15px;
}

.bottommiddlerow img {
    height: 280px;
    width: 150px;
}

.bottommiddlerow2 img {
    height: 280px;
    width: 150px;
}

.bottomsection {
    background-color: #262336;
    padding-top: 10px;
    padding-bottom: 15px;
}

.bottomsection h4 {
    /** TEXT GRADIENT */ color: #dccbc7; background-image: -webkit-linear-gradient(90deg, #dccbc7 50%, #e7d1c6 50%, #e7d1c6 50%); background-clip: text; -webkit-background-clip: text; text-fill-color: transparent; -webkit-text-fill-color: transparent;
}

.bottomsection li {
    color: white;
}

li::marker {
    color: orange;
}

.bottomsection p {
    color: #8e8a9b;
}

.bottomsection button {
    border-radius: 6px;
    color: white;
    background-color: #e65e32;
}

.bottomsectionrow1 {
    padding-bottom: 10px;
}

.footer1 {
    background-color: #322f40;
    padding-top: 10px;
}

.footer1 img {
    height: 90px;
    width: 142px;
}

.footer2 {
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: #1a1921;
}

.footer2 img {
    height: 60px;
    width: 60px;
}

.footer2 h3, p {
    /** TEXT GRADIENT */ color: #bcbac4; background-image: -webkit-linear-gradient(90deg, #bcbac4 50%, #dedee1 50%); background-clip: text; -webkit-background-clip: text; text-fill-color: transparent; -webkit-text-fill-color: transparent;
     margin: 0; 
}

.footer2text2 {
    color: #8e8a9b;
}

.footer2row2 {
    padding-top: 10px;
    padding-bottom: 10px;
}

@media (min-width: 375px) {
    .bottommiddlesection button {
        height: 38px;
        width: 105px;
    }
}

@media (min-width: 768px) {
    .bottommiddlesection button {
        position: relative;
        bottom: 39px;
        height: 59px;
        width: 199px;
    }
}

@media (min-width: 768px) {
    .headerlogo {
        text-align: end;
    }
}

@media (min-width: 768px) {
    .navbar li {
        position: relative;
        left: 72px;
    }
}

@media (min-width: 768px) {
    .bottommiddlesection img {
        height: 350px;
        width: 350px;
    }
}

@media (min-width: 768px) {
    .footer1 img {
        height: 90px;
        width: 306px;
    }
}

@media (min-width: 1024px) {
    .bottommiddlesection button {
        position: relative;
        bottom: 39px;
        height: 59px;
        width: 216px;
    }
}

@media (min-width: 1024px) {
    .header img {
        display: flex;
        align-items: center;
    }
    .headertext {
        display: flex;
        align-items: end;
        flex-direction: column;
    }
    .navbar li {
        position: relative;
        left: 416px;
        top: 21px;
    }
}

